{{ define "main" }}
<div class="wrap list-page">

  <h1>{{ .Title }}</h1>

  {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
  <ul class="stack">
    {{ range $paginator.Pages }}
      <li>
        <a href="{{ .RelPermalink }}" class="stack-link">
          <div>
            <div class="t">{{ .Title }}</div>
            {{ with .Params.summary }}
              <div class="d">{{ . }}</div>
            {{ end }}
          </div>
          <span class="meta">{{ .Date.Format "2 Jan 2006" }}</span>
        </a>
      </li>
    {{ end }}
  </ul>

  {{ if gt $paginator.TotalPages 1 }}
    <nav class="pagination" aria-label="{{ i18n "paginazione" }}">

      {{ if $paginator.Prev }}
        <a href="{{ $paginator.Prev.URL }}" class="pagination-prev">
          {{ partial "icon-arrow-left.html" . }}
          {{ i18n "precedente" }}
        </a>
      {{ else }}
        <span class="pagination-prev pagination-disabled">
          {{ partial "icon-arrow-left.html" . }}
          {{ i18n "precedente" }}
        </span>
      {{ end }}

      <span class="pagination-info">
        {{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}
      </span>

      {{ if $paginator.Next }}
        <a href="{{ $paginator.Next.URL }}" class="pagination-next">
          {{ i18n "successiva" }}
          {{ partial "icon-arrow-right.html" . }}
        </a>
      {{ else }}
        <span class="pagination-next pagination-disabled">
          {{ i18n "successiva" }}
          {{ partial "icon-arrow-right.html" . }}
        </span>
      {{ end }}

    </nav>
  {{ end }}

</div>
{{ end }}